<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="book">
        <img class="book-cover-small" src="https://covers.openlibrary.org/b/id/5546156-S.jpg" alt="">
        <div class="book-info">
            <h4 class="book-title">Slow Reading</h4>
            <p class="book-author">Tomas Pupis</p>
        </div>
        <p class="isbn"><b>ISBN:</b> 69854751</p>
        <div class="book-actions">
            <button class="book-action">Swap</button>
        </div>
    </div>
    <div class="book">
        <img class="book-cover-small" src="https://covers.openlibrary.org/b/id/5546156-S.jpg" alt="">
        <div class="book-info">
            <h4 class="book-title">Slow Reading</h4>
            <p class="book-author">Tomas Pupis</p>
        </div>
        <p class="isbn"><b>ISBN:</b> 69854751</p>
        <div class="book-actions">
            <button class="book-action">Swap</button>
        </div>
    </div>
</body>
</html>