* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h3{
    font-size: 1.3rem;
}

input[type=text]{
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
    padding-left: 5px;
    height: 20px;
}

.page-title {
    height: 100px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    height: 8.5vh;
    background-color: #dac4b2;
    display: flex;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

#nav-logo {
    width: 6vw;
    display: flex;
    justify-content: center;
}

#logo {
    width: 90px;
    height: 90px;
}

.nav-right {
    width: 94vw;
}

.nav-right,
.page-links {
    display: flex;
    justify-content: right;
}

.page-links {
    width: 15vw;
    height: 2vh;
    justify-content: space-around;
}

.page-links a:hover {
    text-decoration: 2px #F4EEE9 underline;
    color: #F4EEE9;
}

main {
    height: 88.5vh;
    background-image: linear-gradient(180deg, #dac4b2, white);
    padding: 30px 0;
    overflow-y: auto;
}

#book-wall {
    width: 100vw;
    opacity: 85%;
}

.main-page-container {
    display: grid;
    grid-template-rows: 100px 600px 1fr;
    gap: 10px;
}

.username-form {
    padding-top: 100px;
    display: grid;
}

.username-form, 
h1 {
    display: grid;
    place-items: start center;
}

.form-content{
    display: flex;
    align-items: center;
    gap: 15px;
}

.get-username-form h4 {
    padding-bottom: 20px;
}

footer {
    height: 3vh;
    background-color: #dac4b2; 
    color: black;
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
}

.footer-left,
.footer-right {
    width: 50vw;
    padding: 10px;
    display: flex;
}

#logo-footer {
    width: 30vw;
    display: flex;
    justify-content: left;
}

.footer-right {
    justify-content: flex-end;
}